
    <div style="text-align: center "  id="div2"> 
        <!-- <div style="text-align: center " class="colorFondoDiv" id="div2"> -->
            <!-- <button mat-raised-button  class="casilla"></button> -->
            <!-- <button mat-raised-button  class="casilla"></button> -->
            <!-- <div  id="div2"></div> -->
           <button type="button" class="btn btn-info" id="botonMenu">
    
    <img src="./assets/PedidosSinBorde.png"  height ="200" width="220" alt="Imagen no encontrada"/>
</button>
<button type="button" class="btn btn-info" id="botonMenu">
    
    <img src="./assets/PedidosSinBorde.png" height ="200" width="220" alt="Imagen no encontrada"/>
</button>
           

            <br>
            <button type="button" class="btn btn-info" id="botonMenu">
    
                <img src="./assets/PedidosSinBorde.png" height ="200" width="220" alt="Imagen no encontrada"/>
            </button>
            <button type="button" class="btn btn-info" id="botonMenu">
    
                <img src="./assets/PedidosSinBorde.png" height ="200" width="220" alt="Imagen no encontrada"/>
            </button>
            <!-- <button mat-raised-button  class="casilla"></button> -->
            <!-- <button mat-raised-button  class="casilla"></button> -->
            
        </div>
